# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Node
node_modules/
package-lock.json

# Environment variables
.env
.env.example
.env.local
backend/.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Electron
client/dist/
client/out/
*.app
*.exe
*.dmg

README.md